
.container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.clear{
    clear: both;
}

.header-top-link {
    margin: 61px 0 45px;
    display: block;
    font-size: 80px;
    text-decoration: none;
    color: #4bcaff;
    font-family: Courier, sans-serif;
    text-align: left;
}

.colortoplink {
    color: #000000;
}

.menu {
    margin: 0 auto;
    background-color: #35444f;
    font-family: Courier, sans-serif;
    font-size: 24px;
    text-decoration: none;
}

.menu-item:first-child {
    margin-left:50px ;
}

.menu-item {
    display: inline-block;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #35444f;

}

.menu-item-link {
    font-family: Courier, sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 26px 40px 26px;
}

.menu-item:hover {
    background-color: #222f3a;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: white;
}

.left-menu-link:hover {
    color: black;
    background-color: #dbdbdb;
    font-size: 30px;

}

.left-menu {
    height: 342px;
    width: 344px;
}

.left-main-menu {
    border: 1px solid black;
    display: inline-block;
    margin-top: 51px;
}

.left-menu-link {
    display: block;
    font-size: 28px;
    font-family: Courier, sans-serif;
    text-align: left;
    text-decoration: none;
    color: #6d7982;
    padding: 25px 15px 15px 20px;
}

.left-menu-item {
    list-style-type: none;
}

.image-block {
    display: inline-block;
    margin: 51px 0 51px 75px;
    vertical-align: top;
    border: 1px solid black;
    padding: 75px 252px 75px 260px;
    width: 341px;
    height: 381px;
    overflow: hidden;
}

.image-block img:hover {
    transition: 0.8s;
    transform: scale(1.5);


}

.lorem-text {
    margin-left: 580px;
    font-size: 18px;
    font-family: Courier, sans-serif;
}

.lorem-text:first-child{
    margin-bottom: 20px;
}

footer{
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-container{
    background-color: #b4b7ba;
    padding: 20px 0;
}

.foot-menu {
    display: inline-block;
    margin: 0 auto;
    padding-left: 40px;
    font-family: Courier, sans-serif;
    font-size: 24px;
    text-decoration: none;
}


.foot-menu-item {
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}

.foot-menu-item-link {
    font-family: Courier, sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #0c1927;
}

.foot-menu-item-link:hover {
    color: #4288a9;
    text-decoration: underline;
}

.copyright{
    display: inline-block;
    margin-left: 100px;
}